<nav class="navbar fixed-top navbar-dark bg-success">
  <div style="margin-left:20px ;" ></div>
  <a class="navbar-brand" href="#">Prescription Drug Management System</a>
  <div style="margin-left:700px ;" ></div>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home </a>
    </li>
  </ul>
  <div style="margin-left:20px ;" ></div>
</nav>
<mat-grid-list cols="10" rowHeight="600px" class="mainframe">

    <!-- Start - Side Menu Tile -->
    <mat-grid-tile colspan="2" class="blue" rowspan="1">
      <div style="padding-top: 60px">
        <app-doctorside></app-doctorside>
      </div>
    </mat-grid-tile>
    <!-- Start - Side Menu Tile -->
 
    <!-- Start - Dynamic Tile -->
    <mat-grid-tile colspan="8" class="" rowspan="1" >
        <!-- <app-admin-doctorregistration></app-admin-doctorregistration> -->
       <router-outlet ></router-outlet>
       <!-- <app-loggedpage-patientregistration></app-loggedpage-patientregistration> -->
    </mat-grid-tile>
    <!-- End - Dynamic Tile -->

</mat-grid-list>
