<div class="mainc" >
  <table class="table table-info">
      <thead class="table-dark">
      <tr >
        <!-- <th scope="col">#</th> -->
        <th scope="col">Record Id</th>
        <th scope="col"> Doctor name</th>
        <th scope="col"> Hospital </th>
        <th scope="col">Patient selectedstream</th>
        <th scope="col">your name</th>

      <th scope="col">operation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let healthreport of healthreports "  >
       <td>{{ healthreport.id }}</td>
                <td>{{ healthreport.patientselecteddoctorname }}</td>
                <td>{{ healthreport.patientselectedhospital}}</td>
                <td>{{ healthreport.patientselectedstream}}</td>
                <td>{{ healthreport.patientname }}</td>
           
                <td><button (click)="viewdoctorprescribe(healthreport.id)" class="btn btn-success">viewform</button>
      </tr>
      </tbody>
    </table>
  </div>
