<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  </head>
  
  <body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
      </div>
       
      <div class="company-info">
        <span>Prescription <span class="our">Drug Management System</span></span>
        <p>
          <b>Prescription</b> The Prescription Drug Management System is developed to automate all the works which
          are handled by doctors for prescribing medicines to the patients to reduce the work that is
          Done manually now. The Prescription Drug Management System is handled by four mains
          Users’ doctors, pharmacist, patients and admin. The System helps the pharmacist to store
          And track all the detailed information about the drug along with adding new drugs, deleting
          
        </p>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
 
  
  