
  <div class="container">
    <div class="title">Doctor Registration Form</div>
    <div class="content">
      <form #myForm="ngForm" (submit)="submitdoctormethod(myForm)" ngNativeValidate>
        <div class="user-details">
          <div class="input-box">
            <span class="details"> Name</span>
            <input type="text" placeholder="Enter your name" name="name" [(ngModel)]="nameh" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" [(ngModel)]="usernameh" required>
          </div>
          <div class="input-box">
            <span class="details">password</span>
            <input type="text" placeholder="Enter your password" name="password" [(ngModel)]="passwordh" required>
          </div>
          <div class="input-box">
            <span class="details">hospital</span>
            <!-- <input type="text" placeholder="Enter your hospital" name="hospital" [(ngModel)]="hospitalh" required> -->
            <select name="hospital"  class="field" [(ngModel)]="hospitalh" required>
              <option value="" disabled selected hidden >select Hospital</option>
              <option value="ananyahospital"> ANANYA HOSPITAL </option>
              <option value="ManipalHospital"> Manipal Hospital </option>
               <option value="ApolloHospital"> Apollo Hospital  </option>
           </select>
          </div>
          <div class="input-box">
            <span class="details">specialization</span>
            <select id="stream"  class="field" name="specialization"  [(ngModel)]="specializationh" required >
              <option value="" disabled  selected hidden >  Select Streams </option>
              <option value="gynaecologist" >  gynaecologist </option>
              <option value="Dentists" >  Dentists </option>
              <option value="Audiologists" >  Audiologists </option>
              <option value="Cardiologists" >  Cardiologists </option>
              <option value="Neurologists" >   Neurologists </option>						
            </select>
          </div>
          <div class="input-box">
            <span class="details">Experiance</span>
            <input type="text" placeholder="Enter your Experiance" name="Experiance" [(ngModel)]="experiance" required>
          </div>
          <div class="input-box">
            <span class="details">Location</span>
            <input type="text" placeholder="Enter your Location" name="Location" [(ngModel)]="locationh" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register" name="submitbutton" >
        </div>
      </form>
    </div>
  </div>