<div class="mainc" >
    <table class="table table-info">
        <thead class="table-dark">
        <tr >
          <!-- <th scope="col">#</th> -->
          <th scope="col">DrugId</th>
          <th scope="col"> patient Name</th>
          <th scope="col"> Pharma Name </th>
          <th scope="col"> Order status</th>
          <th scope="col">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let durg of durgslist "  >
         <td>{{ durg.durgId }}</td>
                  <td>{{ durg.pname }}</td>
                  <td>{{ durg.phaname}}</td>
                  <td>{{ durg.orderstatus}}</td>
                  <td>{{ durg.quantity }}</td>
        </tr>
        </tbody>
      </table>
    </div>