

    <div id="maindiv">
    <h1>Signup Form</h1>
    <p>Please fill out this form with the required information</p>
    <form class="form-group" (submit)="submitdata()" ngNativeValidate>
      <fieldset>
        <label for="first-name">Enter Your  Name: <input class="form-group" id="first-name" name="first-name" type="text" [(ngModel)]="nameh"  required /></label>
        <label for="new-password">Create a password: <input class="form-group" id="new-password" name="new-password" type="password" [(ngModel)]="passwordh"  required /></label>
        <label for="Bloodgroup">Enter Your Bloodgroup: <input  class="form-group" id="Bloodgroup" name="Bloodgroup" type="text" [(ngModel)]="bloodgrouph" required /></label>
        <label for="Age">Enter your Age: <input class="form-group" id="Age" name="Age" type="number" [(ngModel)]="ageh" required /></label>
        <label for="Phone-number">Enter your Phone number: <input class="form-group" id="Phone-number" name="Phone-number" type="number" [(ngModel)]="phonenumberh" required /></label>
        <label for="Weight">Enter your Weight: <input class="form-group" id="Weight" name="Weight" type="number" [(ngModel)]="weighth" required /></label>
 
    </fieldset>
      <input class="form-group"  type="submit" value="Submit" />
    </form>
</div>

