
<head>	
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="contact-box">
            <form>
			<div class="right">
				<h2>Appointment Form</h2>
                <div class="row" >
				<input type="text" class="field col" placeholder="Your Name" required>
				<input type="email" class="field col emailer" placeholder="Your Email" >
                </div>
				<input type="number" class="field" placeholder="Phone" required>
				<div class="row" >
                <select #stream id="gender" class="field col " (change)="selectedr(stream.value)"  required>
                    <option value="" disabled selected hidden>select Doctor</option>
                    <option value="gynecology"> gynecology </option>
                    <option value="Dentists"> Dentists </option>
					<option value="Neonatologists"> Neonatologists  </option>
					<option value="orthopedist"> orthopedist  </option>
					<option value="gastroenterologist"> gastroenterologist   </option>
					<option value="Dermatologists"> Dermatologists </option>

				</select>
				<select id="gender" class="field col emailer " name="doctor" >
					<option value="" disabled  *ngIf="re?.length == 0" > No Doctor </option>
					<option value="" disabled selected hidden>select Doctor</option>
                    <option *ngFor="let item of re" [ngValue]="item.name" > {{item.name}} </option>
                    
				</select>
			</div>
				<textarea placeholder="Write your Symptoms ..." class="field" required></textarea>
				<button class="btn">Send</button>
			</div>
          </form>
		</div>
	</div>
</body>
